!!! 5
%html
  %head
    %title Annie's Health and Fitness
    = bootstrap_assets
    %script{src: '/javascripts/utils.js'}
    %link{rel: 'stylesheet', href: '/styles.css'}
  %body
    %main
      = haml :header
      = haml :nav
      = yield
    = haml :footer